<section class="homepage">
  <section class="homepage_actions">
    <h1>Saiba o que está acontecendo no mundo agora.</h1>

    <h4>Inscreva-se no Twiiter hoje mesmo.</h4>

    <%= link_to 'Inscrever-se', new_user_registration_path, class: 'btn-large custom-btn' %>
    <%= link_to 'Entrar', new_user_session_path, class: 'btn-large custom-btn-outline' %>
  </section>

  <section class="homepage_info">
    <h2><i class="material-icons">search</i> Siga o que for do seu interesse.</h2>
    <h2><i class="material-icons">people_outline</i> Saiba o que as pessoas estão falando.</h2>
    <h2><i class="material-icons">chat_bubble_outline</i> Participe da conversa</h2>
  </section>
</section>
