<%= @twiit.text %>

<%= render partial: 'replies/reply', collection: @twiit.replies, as: :replieable %>

<div id="reply_twiit_form">
  <%= render partial: 'replies/form', locals: { replieable: @twiit } %>
</div>
